.page_container {
    background-color: #0d0d0d;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.content_wrapper {
    padding-bottom: 4rem;
}

.nav {
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__profile {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-right: 1rem;
        color: #9e9e9e;
        cursor: pointer;
        position: relative;
        transition: color 0.2s ease;

        &::after {
            content: '';
            position: absolute;
            background-color: red;
            box-shadow: 0 0 15px rgb(0 0 0 / 70%);
            border-radius: 50%;
            width: 18px;
            height: 18px;
            top: -5px;
            left: 48px
        }

        &__img {
            box-shadow: 0 0 10px rgb(0 0 0 / 30%);
            border-radius: 0.5rem;
            height: 60px;
            border-radius: 0.5rem;
            overflow: hidden;

            * {
                overflow: unset !important;
            }
        }

        &:hover {
            color: hsl(0, 0%, 55%);
        }
    }
}

.main {
    color: white;
    padding: 2rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 15%);
}
