.join-your-friends {

    display: flex;
    gap: 1rem;

    *:first-child {
        flex-grow: 4;
    }

    *:last-child {
        flex-shrink: 4;
    }

    &__button {
        background-color: #6AE330;
        // color: white;
    }
}